# <font color='white'><span style='background:green'> ***_P10: APP.BEGIN_*** <span><br><br>

In [1]:
import pandas as pd
import pickle

In [2]:
# Classe couleur pour l'affichage
class color:
   PURPLE = '\033[95m'
   CYAN = '\033[96m'
   DARKCYAN = '\033[36m'
   BLUE = '\033[94m'
   GREEN = '\033[92m'
   YELLOW = '\033[93m'
   RED = '\033[91m'
   BOLD = '\033[1m'
   UNDERLINE = '\033[4m'
   END = '\033[0m'

In [9]:
# Importation du fichier exemple
test = pd.read_csv("billets_test (1).csv")
test

   diagonal  height_left  height_right  margin_low  margin_up  length   id
0    172.09       103.95        103.73        4.39       3.09  113.19  B_1
1    171.52       104.17        104.03        5.27       3.16  111.82  B_2
2    171.78       103.80        103.75        3.81       3.24  113.39  B_3
3    172.02       104.08        103.99        5.57       3.30  111.10  B_4
4    171.79       104.34        104.37        5.00       3.07  111.87  B_5

In [10]:
# Séparation les données
X = test.drop(['id'], axis=1).values

In [11]:
# Désérialiser le fichier (Chargement)
with open('logistic_model.pkl', 'rb') as file:
    logistic_loaded = pickle.load(file)

In [12]:
probabilites = logistic_loaded.predict(X)
probabilites

array([ True, False,  True, False, False])

In [13]:
# Créer un dataframe pour le résultat
resultat = pd.DataFrame({"ID":test['id'], 'Nature': probabilites})
resultat

    ID  Nature
0  B_1    True
1  B_2   False
2  B_3    True
3  B_4   False
4  B_5   False

In [14]:
print(color.BOLD + color.PURPLE + color.UNDERLINE +"\nIndetification des billets:\n"+ color.END)
for i, k in zip(resultat["Nature"],resultat["ID"]):
    if i == 1:
        print(color.BOLD + color.BLUE +"Le billet" + color.CYAN,"{}".format(k),
              color.BLUE + "est" + color.GREEN +" vrai")
    else:
        print(color.BOLD + color.BLUE +"Le billet" + color.CYAN,"{}".format(k), 
              color.BLUE + "est" + color.RED +" faux")

Indetification des billets:

Le billet B_1 est vrai
Le billet B_2 est faux
Le billet B_3 est vrai
Le billet B_4 est faux
Le billet B_5 est faux

# <font color='white'><span style='background:green'><br><br> ***_P10: APP.END_*** <span>